<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
    <div class="visible-lg col-lg-1"></div>
    <div class="col-sm-4 col-md-5 col-lg-5 text-center" data-bind="foreach: previousActor">
      <div class="pull-left">
        <div class="h5"> Anterior</div>
        <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
             data-bind="attr: {src: photo, title:'Actor photo'}">
        <a data-bind="attr:{href: '?id='+ actorID}, text: actorName"></a>
      </div>
    </div>
    <div class="hidden-lg col-sm-4 col-md-2">
    </div>
    <div class="col-sm-4 col-md-5 col-lg-5 text-center" data-bind="foreach: nextActor">
      <div class="pull-right">
        <div class="h5"> Próximo</div>
        <img class="img-responsive" style="border-radius: 0.8em; margin:0.4em;"
             data-bind="attr: {src: photo, title:'Actor photo'}">
        <a data-bind="attr:{href: '?id='+ actorID}, text: actorName"></a>
      </div>
    </div>
    <div class="visible-lg col-lg-1"></div>
  </div>
  <div class="visible-xs col-xs-12">
    <div class="col-xs-5 text-center" data-bind="foreach: previousActor">
      <div class="pull-left">
        <div class="h5">Anterior</div>
        <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
             data-bind="attr: {src: photo, title:'Actor photo'}">
        <a data-bind="attr:{href: '?id='+ actorID}, text: actorName"></a>
      </div>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-5 text-center" data-bind="foreach: nextActor">
      <div class="h5">Próximo</div>
      <div class="pull-right">
        <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
             data-bind="attr: {src: photo, title:'Actor photo'}">
        <a data-bind="attr:{href: '?id='+ actorID}, text: actorName"></a>
      </div>
    </div>
  </div>
</div>
</div>
