{% load staticfiles %}
<script>
    var BASE_ACTOR_SEARCH = "{% url 'app:actor_search' %}";
    var BASE_ACTOR = {% url 'app:actor' %};
    $(document).ready(() => {
        function searchName(event) {
            let target = event.target;
            if (target.value.length < 3) {
                return;
            }
            // clear the results list
            $("#modalAtoresResults").empty();
            let order_By = $("#ordenacaoAct").val();
            $.getJSON(BASE_ACTOR_SEARCH + `?name=${target.value}&order=${order_By}`, (data) => {
                var items = [];
                $.each(data, (k, v) => {
                    items.push(`<div class="col-md-6">
            <div><i class="fa fa-user"></i> <a
        href="${BASE_ACTOR + v.id}">${v.name} - ${v.facebook_likes}</a>
            </div>
          </div>`);
                });
                $("#modalAtoresResults").append(items);
            });
        }

        $("#actorInput").on({
            'keyup': searchName
        });
        $("#ordenacaoAct").on({
            'change': $("#actorInput").trigger("keyup")
        });
    });

</script>
<div id="modalAtores" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pesquisa de Atores</h4>
      </div>
      <div class="modal-body">
        <p>A Base de Dados contem <span> {{ count }}</span> atores.</p>
        <div class="col-lg-8 col-lg-offset-2 input-group">
          <span class="input-group-addon">Ator:</span>
          <input id="actorInput" type="text" class="form-control"
                 placeholder="Nome do Ator (3 ou mais letras)" />
        </div>
        <div class="col-lg-4 col-lg-offset-4" style="padding:10px 0px 10px 0px">
          <select id="ordenacaoAct" class="form-control">
            <option value="ALF" selected="true">Alfabéticamente</option>
            <option value="LIK">Gostos</option>
          </select>
        </div>
        <br />
        <div id="modalAtoresResults" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
