{% load static %}
{% load app_extras %}
<div class="row">
  <div class="col-12">
    <div class="d-flex flex-wrap justify-content-around">
      <div class="d-flex flex-nowrap flex-column justify-content-around align-items-center">
        {% if previous %}
          <h5 class="h5">Anterior</h5>
          <a class="d-flex flex-nowrap flex-column justify-content-around align-items-center"
             href="{% url 'app:actor' previous.id %}">
            <img class="img-responsive rounded"
                 alt="Actor Photo"
                 src=" {% no_user_photo %}">
            <span>{{ previous.name }}</span></a>
        {% endif %}
      </div>
      <div class="d-flex flex-nowrap flex-column justify-content-around align-items-center">
        {% if next %}
          <div class="h5">Próximo</div>
          <a class="d-flex flex-nowrap flex-column justify-content-around align-items-center"
             href="{% url 'app:actor' next.id %}">
            <img class="img-responsive rounded"
                 alt="Actor Photo"
                 src=" {% no_user_photo %}"><span>{{ next.name }}</span></a>
        {% endif %}
      </div>
    </div>

  </div>
</div>