{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load app_extras %}
{% block content %}
  <div class="container" style="padding-top: 4em">
    <div class="row">
      <!-- >= 768px-->
      <!-- Actor Photo -->
      <div class="col-md-4 col-lg-3">
        <img class="img-responsive rounded mb-3 mt-0 ml-3 mr-0 pr-0"
             alt="Actor Photo"
             src=" {% no_user_photo %}">
      </div>
      <!-- Actor Details Section-->
      <div class="col-md-8 col-lg-9 ">
        <div class="row">
          <div class="col-md-5 col-lg-6">
            <!-- Actor.name-->
            <div class="h3">
              {{ actor.name }}
            </div>
          </div>
          <!-- Actor.facebook_likes-->
          <div class="col-md-4 col-lg-3">
            <div class="h3">
              {{ actor.facebook_likes }}&nbsp;<i class="far fa-thumbs-up"></i>
            </div>
          </div>
          <!-- Actor.id -->
          <div class="col-md-3">
            <div class="h3">
              <small>ID:&nbsp;{{ actor.id }}</small>
            </div>
          </div>
        </div>
        <div class="row">

        </div>
        <!-- Actor.unique-->
        <div class="col-md-12">
          <div>
            <div class="h4" style="display: inline-block;">Países:&nbsp;
              {% for country in unique_stats.countries %}
                <a class="d-inline-block"
                   href="{% url 'app:country' country.id %}"> {{ country.name }}</a>
              {% endfor %}
            </div>
          </div>
          <div>
            <div class="h4" style="display: inline-block;">Línguas:&nbsp;</div>
            {% for language in unique_stats.languages %}
              <a href="{% url 'app:language' language.id %}"> {{ language.name }}</a>
            {% endfor %}
          </div>
          <div>
            <div class="h4" style="display: inline-block;">Diretores:&nbsp;</div>
            {% for director in unique_stats.directors %}
              <a href="{% url 'app:director' director.id %}"> {{ director.name }}</a>
            {% endfor %}
          </div>
          <div>
            <div class="h4" style="display: inline-block;">Géneros:&nbsp;</div>
            {% for genre in unique_stats.genres %}
              <a href="{% url 'app:genre' genre.id %}"> {{ genre.name }}</a>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="center-block table-responsive"
           style="padding: 0px; border-radius: 0.4em;">
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Year</th>
            <th class="text-center">OrderIn</th>
            <th class="text-center">IMDB</th>
            <th class="text-center">Score</th>
          </tr>
          </thead>
          <tbody>
          {% for movie in movies %}
            {% movies_to_table_row movie %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% actor_pagination actor %}
  </div>
{% endblock %}