{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block page_title %}{% endblock %}</title>
  {% block common_css %}
    <link rel="stylesheet"
          href="{% static "bootstrap-4.3.1-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
          href="{% static "fontawesome-free-5.5.0-web/css/all.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static "custom.css" %}">
  {% endblock %}
  {% block page_css %}

  {% endblock %}

  {% block head_js %}
    <script src="{% static "jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "popper.js/1.14.7/umd/popper.min.js" %}"></script>
    <script src="{% static "bootstrap-4.3.1-dist/js/bootstrap.min.js" %}">
    </script>
  {% endblock %}
</head>
<body>
  {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top">
      <a class="navbar-brand" href="{% url 'app:home' %}">
        <i class="fa fa-film" aria-hidden="true"></i>&nbsp;IMDb5000+
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbar" aria-controls="navbar"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar" style="height: 1px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item  {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
            <a class="nav-link" href="{% url 'app:home' %}">Home
              {% if request.resolver_match.url_name == 'home' %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownSearch" data-toggle="dropdown"
               role="button" aria-haspopup="true"
               aria-expanded="false">Pesquisa <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelled="dropdownSearch">
              <div class="dropdown-header">Pessoas</div>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalAtores">Atores</a>
              <a class="dropdown-item" data-toggle="modal"
                 data-target="#modalDiretores">Diretores</a>
              <div class="dropdown-divider" role="separator"></div>
              <div class="dropdown-header">Filmes</div>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalFilmes">Filmes</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalPaises">Países</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalGeneros">Generos</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalLinguas">Linguas</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalKeyword">Palavras-Chave</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
        </ul>
      </div>
    </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}
  
  
  <!-- pesquisa de atores -->
  {% include 'actor_search.html' %}
  <!-- Pesquisa de Diretores -->
  {% include 'director_search.html' %}

  <!-- Pesquisa de Filmes -->
  {% include 'movie_search.html' %}
  <!-- Pesquisa de Países -->
  {% include 'country_search.html' %}
  <!-- Pesquisa de Generos -->
  {% include 'genre_search.html' %}


  <!-- Pesquisa de Linguas -->
  {% include "language_search.html" %}
  <!-- Pesquisa de Palavras chave-->
  {% include "keyword_search.html" %}
  {% block body_js %}
  {% endblock %}
</body>
</html>