{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load app_extras %}
{% block content %}
  <div class="container" style="padding-top: 4em">
    <div class="row">
      <!-- >= 768px-->
      <!-- Director Photo -->
      <div class="col-md-4 col-lg-3 center-block">
        <img class="img-responsive"
             style="border-radius: 6px; margin:0.6em; float:right; align-content: right; align-items: right;"
             alt="Diretor Photo"
             src=" {% no_user_photo %}">
      </div>
      <!-- Director Details Section-->
      <div class="col-md-8 col-lg-9 " style="padding-left: 0px;">
        <div class="col-md-5 col-lg-6" style="padding-left: 0px;  padding-right: 0px;">
          <!-- Diretor.name-->
          <div class="h3"
               style="font-size: 1.75em;  padding-right: 0;">
            {{ director.name }}
          </div>
        </div>
        <!-- Director.facebook_likes-->
        <div class="col-md-4 col-lg-3 pull-left"
             style="padding-left: 0px; padding-right: 0px;">
          <div class="h3" style="font-size: 1.75em;  margin-bottom: 0px;">
            {{ director.facebook_likes }}&nbsp;<i class='fa fa-thumbs-o-up' aria-hidden='true'></i>
          </div>
        </div>
        <!-- Director.id -->
        <div class="col-md-3">
          <div class="h3">
            <small style="margin-bottom: 0; padding-right: 0;">
              ID:&nbsp;{{ director.id }}
            </small>
          </div>
        </div>
        <!-- Director.unique-->
        <div class="col-md-12">
          UNIQUE STATS
        </div>
      </div>

    </div>
    <div class="row">
      <div class="center-block table-responsive"
           style="padding: 0px; border-radius: 0.4em;">
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Year</th>
            <th class="text-center">OrderIn</th>
            <th class="text-center">IMDB</th>
            <th class="text-center">Score</th>
          </tr>
          </thead>
          <tbody>
          {% for movie in movies %}
            {% actor_movies_to_table_row movie %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      {% director_pagination director %}
    </div>
  </div>
{% endblock %}