{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <div class="container" style="padding-top: 4em">
    <div data-bind="foreach: director">
      <!-- >= 768px-->
      <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-4 col-md-3 col-lg-3 center-block">
          <img class="img-responsive"
               style="border-radius: 6px; margin:0.6em; float:right; align-content: right; align-items: right;"
               data-bind="attr: {src: photo, title:'Director Photo'}">
        </div>
        <div class="col-sm-8 col-md-9 col-lg-9">
          <div class="col-sm-5 col-md-6 col-lg-6" style="padding-left: 0px;  padding-right: 0px;">
            <div class="h3" data-bind="text: directorName"
                 style="font-size: 1.75em;  padding-right: 0px;">
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-lg-3 pull-left"
               style="padding-left: 0px; padding-right: 0px;">
            <div class="h3" data-bind="html: directorFacebookLikes"
                 style="font-size: 1.75em;  margin-bottom: 0px;"></div>
          </div>
          <div class="col-sm-3 col-md-3 colg-lg-3 ">
            <div class="h3">
              <small data-bind="text: 'ID:&nbsp;' + directorID"
                     style="margin-bottom: 0px; padding-right: 0px;"></small>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
              <div class="h4" style="display: inline-block;">Países:&nbsp;</div>
              <div data-bind="foreach: $parent.uniqueC" style="display: inline-block;">
                <a data-bind="text: '&#8226;&nbsp;' + countryName , attr: {href: './pais.html?id=' + countryID}"></a>
              </div>
            </div>
            <div>
              <div class="h4" style="display: inline-block;">Línguas:&nbsp;</div>
              <div data-bind="foreach: $parent.uniqueL" style="display: inline-block;">
                <a data-bind="text: '&#8226;&nbsp;' + languageName , attr: {href: './lingua.html?id=' + languageID}"></a>
              </div>
            </div>
            <div>
              <div class="h4" style="display: inline-block;">Géneros:&nbsp;</div>
              <div data-bind="foreach: $parent.uniqueG" style="display: inline-block;">
                <a data-bind="text: '&#8226;&nbsp;' + genreName , attr: {href: './genero.html?id=' + genreID}"></a>
              </div>
            </div>
            <div>
              <div class="h4" style="display: inline-block;">Atores:&nbsp;</div>
              <div data-bind="foreach: $parent.uniqueA" style="display: inline-block;">
                <a data-bind="text: '&#8226;&nbsp;' + actorName , attr: {href: './ator.html?id=' + actorID}"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 center-block table-responsive"
             style="padding: 0px; border-radius: 0.4em;">
          <table class="table table-striped text-center">
            <thead>
            <tr>
              <th class="text-center">Title</th>
              <th class="text-center">Year</th>
              <th class="text-center">IMDB</th>
              <th class="text-center">Score</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: movies">
            <tr>
              <td>
                <a data-bind="text: movie_title, attr: {href: './filme.html?id=' + movieID}"></a>
              </td>
              <td data-bind="text: title_year">
              </td>
              <td>
                <a data-bind="attr: { href: movie_imdb_link}">IMDB</a>
              </td>
              <td data-bind="text: imdb_score">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
        <div class="visible-lg col-lg-1">
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-center" data-bind="foreach: previousDirector">
          <div class="pull-left">
            <div class="h5"> Anterior</div>
            <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
                 data-bind="attr: {src: photo, title:'Just a pic'}">
            <a data-bind="attr:{href: '?id='+ directorID}, text: directorName"></a>
          </div>
        </div>
        <div class="hidden-lg col-sm-4 col-md-2">
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 text-center" data-bind="foreach: nextDirector">
          <div class="pull-right">
            <div class="h5"> Próximo</div>
            <img class="img-responsive" style="border-radius: 0.8em; margin:0.4em;"
                 data-bind="attr: {src: photo, title:'Just a pic'}">
            <a data-bind="attr:{href: '?id='+ directorID}, text: directorName"></a>
          </div>
        </div>
        <div class="visible-lg col-lg-1">

        </div>
      </div>
      <div class="visible-xs col-xs-12">
        <div class="col-xs-5 text-center" data-bind="foreach: previousDirector">
          <div class="pull-left">
            <div class="h5"> Anterior</div>
            <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
                 data-bind="attr: {src: photo, title:'Just a pic'}">
            <a data-bind="attr:{href: '?id='+ directorID}, text: directorName"></a>
          </div>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5 text-center" data-bind="foreach: nextDirector">
          <div class="pull-right">
            <div class="h5"> Próximo</div>
            <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
                 data-bind="attr: {src: photo, title:'Just a pic'}">
            <a data-bind="attr:{href: '?id='+ directorID}, text: directorName"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}