{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <table class="table table-striped">
    <thead>
    <tr>
      <td>Active</td>
      <td>Name</td>
      <td>Api_Type</td>
      <td>Target_Type</td>
      <td>Target</td>
      <td>Filter</td>
      <td>Params</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input type="checkbox" /></td>
      <td><input type="text"></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="api_type"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My API here
          </button>
          <div class="dropdown-menu" aria-labelledby="api_type">
            <a class="dropdown-item" href="#">Instagram</a>
            <a class="dropdown-item" href="#">Twitter</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="target_type"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Target Type Here
          </button>
          <div class="dropdown-menu" aria-labelledby="target_type">
            <a class="dropdown-item" href="#">Bot</a>
            <a class="dropdown-item" href="#">Instagram</a>
          </div>
        </div>
      </td>
      <td><input type="text"></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="filter"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Filter here
          </button>
          <div class="dropdown-menu" aria-labelledby="filter">
            <a class="dropdown-item" href="#">Keywords</a>
            <a class="dropdown-item" href="#">IMages</a>
          </div>
        </div>
      </td>
      <td><input type="text"></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <label class="col-2">
      <input type="text">
      Name
    </label>
  </div>
{% endblock %}