{% load staticfiles %}
<script>
    var BASE_GENRE_SEARCH = "{% url 'app:genre_search' %}";
    var BASE_GENRE = {% url 'app:genre' %};
    $(document).ready(() => {
        function searchName(event) {
            let target = event.target;
            if (target.value.length < 1) {
                return;
            }
            // clear the results list
            $("#modalGenerosResults").empty();
            let order_By = $("#ordenacaoGenre").val();
            $.getJSON(BASE_GENRE_SEARCH + `?name=${target.value}&order=${order_By}`, (data) => {
                var items = [];
                $.each(data, (k, v) => {
                    items.push(`<div class="col-md-6">
            <div><i class="fa fa-rocket"></i> <a
        href="${BASE_GENRE + v.id}">${v.name}</a>
            </div>
          </div>`);
                });
                $("#modalGenerosResults").append(items);
            });
        }

        $("#genreInput").on({
            'keyup': searchName
        });
        $("#ordenacaoGenre").on({
            'change': $("#genreInput").trigger("keyup")
        });
    });

</script>
<div id="modalGeneros" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pesquisa de Géneros</h4>
      </div>
      <div class="modal-body">
        <p>A Base de Dados contem <span> {{ count }}</span> Géneros.</p>
        <div class="col-lg-8 col-lg-offset-2 input-group">
          <span class="input-group-addon">Género:</span>
          <input id="genreInput" type="text" class="form-control"
                 placeholder="Nome do Género (1 ou mais letras)" />
        </div>
        <div class="col-lg-4 col-lg-offset-4" style="padding:10px 0px 10px 0px">
          <select id="ordenacaoGenre" class="form-control">
            <option value="ALF" selected="true">Alfabéticamente</option>
            <option value="MOV">Número de filmes</option>
          </select>
        </div>
        <br />
        <div id="modalGenerosResults" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
