{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load app_extras %}
{% block content %}
  <div class="container" style="padding-top: 4em">
    <div class="row">
      <div class="col-12 ">
        <div class="d-flex flex-nowrap justify-content-around h1 text-center">

          <div class="d-none d-sm-block">
            {% if previous %}
              <div class="h4">Anterior</div>
              <a href="{% url 'app:genre' previous.id %}">{{ previous.name }}</a>
            {% endif %}
          </div>

          <div>
            <div>{{ genre.name }}</div>
            <small>ID:&nbsp;<strong>{{ genre.id }}</strong></small>
            <small>Filmes:&nbsp;<strong> {{ movies.count }}</strong></small>
          </div>

          <div class="d-none d-sm-block">
            {% if next %}
              <div class="h4">Próximo</div>
              <a href="{% url 'app:genre' next.id %}">{{ next.name }}</a>
            {% endif %}
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="h2 text-center">&nbsp;Filmes&nbsp;de&nbsp;<span>{{ genre.name }}</span>
        </div>
        <div class="d-flex flex-wrap justify-content-around">
          {% for movie in movies %}
            <a class="mr-1 d-flex flex-nowrap flex-column justify-content-around align-items-center"
               href="{% url 'app:movie'  movie.id %}">
              <img src="{% no_movie_poster %}"
                   alt="Movie {{ movie.id }}"
                   class="center-block img-responsive">
              <span>{{ movie.movie_title }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}