{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load app_extras %}
{% block page_css %}
  <style>
    .random-poster {
      min-width: 1px;
      min-height: 1px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: block;

      margin: 30px auto auto;
    }

    .random-actor-bg {
      background: url('{% no_user_photo %}') 50% 50% no-repeat
    }

    .random-movie-bg {
      background: url('{% no_movie_poster %}') 50% 50% no-repeat
    }

    .jumbotron-bg {
      min-width: 1px;
      min-height: 1px;
      width: 100%;
      box-shadow: 0 0 15px #888888;
      height: 300px;
      margin-bottom: 0;

    }

    .jumbotron-logo {
      height: 100px;
      /*margin: 80px auto auto;*/
      -webkit-align-self: center;
      align-self: center;
    }

    .title {
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      text-align: center;
      color: ghostwhite;
    }

  </style>
{% endblock %}
{% block content %}
  <!-- Jumbotron -->
  <div class="container-fluid jumbotron jumbotron-fluid jumbotron-bg"
       style="background-image: url({% static 'images/jumbotron.png' %});">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <img class="jumbotron-logo" src="{% static 'images/logo.png' %}">
      </div>
      <div class="col-12">
        <hr class="my-2 bg-white">
      </div>

      <h2 class="title col-12">Uma coleção dos 5000+ melhores filmes do
        IMDb</h2>
    </div>

  </div>
  <!-- highlight de um ator e um filme aleatorio-->
  <div class="container-fluid" style="box-shadow: 0px 0px 15px #888888">
    <div class="row">
      <h1 class="col-12 text-center">Sugestões:</h1>
      <div class="container col-lg-6 col-md-12">
        <div class=""
             data-bind="foreach: ator_aleatorio">
          <div class="random-poster random-actor-bg"></div>
          <br />
          <div class="text-center">
            <a href={% url 'app:actor' random_actor.id %}>
              <h1> {{ random_actor.name }}</h1>
            </a>
            <h2>{{ random_actor.facebook_likes }} Likes </h2>
            <a class="btn btn-danger" data-toggle="modal"
               data-target="#modalFilmesHighlight">Filmes</a>
          </div>
        </div>
      </div>
      <div class="container col-lg-6 col-md-12 ">
        <div class="random-poster random-movie-bg"></div>
        <br />
        <div class="text-center">
          <a href="{% url 'app:movie' random_movie.id %}">
            <h1> {{ random_movie.movie_title }}</h1>
          </a>
          <h2>{{ random_movie.imdb_score }} / 10</h2>
          <h2>{{ random_movie.title_year }}</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Sobre -->
  <div id="sobre" class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h2 style="text-align: center">Estatísticas: </h2>
        <br>
        {% for stat in stats %}
          <h4 class="col-lg-offset-2"><i
              class="fas fa-caret-right"></i> {% trans stat.label %}: {{ stat.value }}</h4>
        {% endfor %}
      </div>
      <div class="col-lg-6 col-md-12">
        <h2 style="text-align: center">Objetivo: </h2>
        <br>
        <h4 class="col-lg-offset-2">O objetivo deste site é uma facil pesquisa e acesso a
          informações
          dos filmes/atores/diretores e categorias dos mesmos presentes no dataset IMDb5000+.<br>
          Este website foi produzido como projeto para a disciplina de TPW.</h4>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <footer class="footer" style="padding-top:50px">
    <div class="container">
      <div class="spinner-border text-dark d-inline-block" role="status">
        <span class="sr-only">Icon</span>
      </div>
      <p class="text-muted d-inline-block">
        Now Loading Productions - TPW 2019
      </p>
    </div>
  </footer>



  <!-- Filmes do Ator Aleatorio -->
  {% include "random_actor_movies.html" %}

{% endblock %}