{% load staticfiles %}
<script>
    var BASE_KEYWORD_SEARCH = "{% url 'app:keyword_search' %}";
    var BASE_KEYWORD = {% url 'app:keyword' %};
    $(document).ready(() => {
        function searchName(event) {
            let target = event.target;
            if (target.value.length < 1) {
                return;
            }
            // clear the results list
            $("#modalKeywordResults").empty();
            let order_By = $("#ordenacaoKeyword").val();
            $.getJSON(BASE_KEYWORD_SEARCH + `?name=${target.value}&order=${order_By}`, (data) => {
                var items = [];
                $.each(data, (k, v) => {
                    items.push(`<div class="col-md-6">
            <div><i class="fa fa-rocket"></i> <a
        href="${BASE_KEYWORD + v.id}">${v.name}</a>
            </div>
          </div>`);
                });
                $("#modalKeywordResults").append(items);
            });
        }

        $("#keywordInput").on({
            'keyup': searchName
        });
        $("#ordenacaoKeyword").on({
            'change': $("#keywordInput").trigger("keyup")
        }).fin;
    });

</script>
<div id="modalKeyword" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pesquisa de Palavras-Chave</h4>
      </div>
      <div class="modal-body">
        <p>A Base de Dados contem <span> {{ count }}</span> Palavras-Chave.</p>
        <div class="col-lg-8 col-lg-offset-2 input-group">
          <span class="input-group-addon">Palavra-Chave:</span>
          <input id="keywordInput" type="text" class="form-control"
                 placeholder="Nome da Palavra-Chave (1 ou mais letras)" />
        </div>
        <div class="col-lg-4 col-lg-offset-4" style="padding:10px 0px 10px 0px">
          <select id="ordenacaoKeyword" class="form-control">
            <option value="ALF" selected="true">Alfabéticamente</option>
            <option value="MOV">Número de filmes</option>
          </select>
        </div>
        <br />
        <div id="modalKeywordResults" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
