{% load staticfiles %}
<script>
    var BASE_LANGUAGE_SEARCH = "{% url 'app:language_search' %}";
    var BASE_LANGUAGE = {% url 'app:language' %};
    $(document).ready(() => {
        function searchName(event) {
            let target = event.target;
            if (target.value.length < 1) {
                return;
            }
            // clear the results list
            $("#modalLinguasResults").empty();
            $.getJSON(BASE_LANGUAGE_SEARCH + `?name=${target.value}`, (data) => {
                var items = [];
                $.each(data, (k, v) => {
                    items.push(`<div class="col-md-6">
            <div><i class="fa fa-language"></i> <a
        href="${BASE_LANGUAGE + v.id}">${v.name}</a>
            </div>
          </div>`);
                });
                $("#modalLinguasResults").append(items);
            });
        }

        $("#languageInput").on({
            'keyup': searchName
        });

    });

</script>
<div id="modalLinguas" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pesquisa de Línguas</h4>
      </div>
      <div class="modal-body">
        <p>A Base de Dados contem <span> {{ count }}</span> Línguas.</p>
        <div class="col-lg-8 col-lg-offset-2 input-group">
          <span class="input-group-addon">Língua:</span>
          <input id="languageInput" type="text" class="form-control"
                 placeholder="Nome da Língua (1 ou mais letras)" />
        </div>
        <br />
        <div id="modalLinguasResults" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
