{% load staticfiles %}
<script>
    var BASE_MOVIE_SEARCH = "{% url 'app:movie_search' %}";
    var BASE_MOVIE = {% url 'app:movie' %};
    $(document).ready(() => {
        function searchName(event) {
            let target = event.target;
            if (target.value.length < 3) {
                return;
            }
            // clear the results list
            $("#modalFilmesResults").empty();
            let order_By = $("#ordenacaoFil").val();
            $.getJSON(BASE_MOVIE_SEARCH + `?name=${target.value}&order=${order_By}`, (data) => {
                var items = [];
                $.each(data, (k, v) => {
                    items.push(`<div class="col-md-6">
            <div><i class="fa fa-film"></i> <a
        href="${BASE_MOVIE + v.id}"> ${v.title_year} - ${v.movie_title}</a>
            </div>
          </div>`);
                });
                $("#modalFilmesResults").append(items);
            });
        }

        $("#movieInput").on({
            'keyup': searchName
        });
        $("#ordenacaoFil").on({
            'change': searchName
        });
    });

</script>
<div id="modalFilmes" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pesquisa de Filmes</h4>
      </div>
      <div class="modal-body">
        <p>A Base de Dados contem <span> {{ count }}</span> filmes.</p>
        <div class="col-lg-8 col-lg-offset-2 input-group">
          <span class="input-group-addon">Filme:</span>
          <input id="movieInput" type="text" class="form-control"
                 placeholder="Nome do Filme (3 ou mais letras)" />
        </div>
        <div class="col-lg-4 col-lg-offset-4" style="padding:10px 0px 10px 0px">
          <select id="ordenacaoFil" class="form-control">
            <option value="ALF" selected="true">Alfabéticamente</option>
            <option value="BUD">Budget</option>
            <option value="GRO">Vendas</option>
            <option value="YEAR">Ano</option>
          </select>
        </div>
        <br />
        <div id="modalFilmesResults" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>