{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load app_extras %}
{% block content %}
  <div class="container" style="padding-top: 4em">
    <div class="row">
      <!-- >= 768px-->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 center-block">
            <img class="img-responsive"
                 src="{% no_movie_poster %}"
                 alt="Movie Poster"
                 style="border-radius: 6px; margin:0.6em; float:right; align-content: right; align-items: right;">
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-9">
          <!--Header -->
          <div class="h2">
            <div class="col-md-6 col-lg-6 col-xl-6" style="font-size: 0.5em; text-align: left">
              ID: {{ movie.id }}
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 text-right" style="font-size:0.7em;">
              <a href="{{ movie.movie_imdb_link }}">IMDB </a>
              <strong>{{ movie.imdb_score }}</strong>
            </div>
            <br />
            <div class="col-md-12 col-lg-12 col-xl-12">
              <span>{{ movie.movie_title }}</span>
              {% if movie.director %}
                <span style="font-size: 0.8em"> - <a
                    href="{% url 'app:director' movie.director.id %}"> {{ movie.director.name }}</a>&nbsp;</span>
              {% endif %}
              <small> {{ movie.title_year }}</small>
            </div>
          </div>
          <!-- Content -->
          <div class="col-md-12 col-lg-12 col-xl-12 pull-left">
            <div class="h1 panel"
                 style="font-size: 1.25em; margin-top: 0.8em; box-shadow: 7px 5px 15px 0px rgba(50, 50, 50, 0.27);">
              <div class="panel-heading">
                {% if movie.movie_facebook_likes %}
                  <div class="col-md-5 col-lg-4 col-xl-4 text-center" style="padding: 0px;">
                    {{ movie.movie_facebook_likes }}&nbsp;<i class="far fa-thumbs-up"></i>
                  </div>
                {% endif %}
                {% if movie.duration %}
                  <div class="col-md-3 col-lg-4 col-xl-4 text-center" style="padding: 0px;">
                    Duração: &nbsp; {{ movie.duration }} m
                  </div>
                {% endif %}
                {% if movie.content_rating %}
                  <div class="col-md-4 col-lg-4 col-xl-4 text-right"
                       style="padding: 0px 0px 0px 7.5px;">
                    Contéudo: &nbsp; <strong>{{ movie.content_rating }}</strong>
                  </div>
                {% else %}
                  <div class="col-md-4 col-lg-4 col-xl-4 text-right"></div>
                {% endif %}
              </div>
              <div class="panel-body">
                <div class="h6 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 4.5px;">
                  <span>&nbsp;Géneros:&nbsp;</span>
                  {% for genre in unique_stats.genres %}
                    <span><a href="{% url 'app:genre' genre.id %}">&nbsp;{{ genre.name }}</a>
                    </span>
                  {% endfor %}

                </div>
                <div class="h6 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 4.5px;">
                  <span>&nbsp;Palavras-Chave:&nbsp;</span>
                  <div style="display: inline-block;">
                    {% for keyword in unique_stats.keywords %}
                      <span><a
                          href="{% url 'app:keyword' keyword.id %}">&nbsp;{{ keyword.name }}</a>
                    </span>
                    {% endfor %}
                  </div>
                </div>
                <div class="h6 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 4.5px;">
                  <span>País:&nbsp;<a
                      href="{% url 'app:country' movie.country.id %}">{{ movie.country.name }}</a>&nbsp;</span>
                </div>
                <div class="h6 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 4.5px;">
                  <span>Língua:&nbsp;<a
                      href="{% url 'app:language' movie.language.id %}"
                  >{{ movie.language.name }}</a></span>
                </div>
                <div class="h6 col-md-12 col-lg-12 col-xl-12"
                     style="margin-bottom: 4.5px; align-content: left; padding: 0px;">
                  <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="row">
                      {% if movie.gross %}
                        Lucro&nbsp;(bruto):
                      {% endif %}
                    </div>
                    <div class="row">
                      {% if movie.budget %}
                        Or&ccedil;amento:&nbsp;
                      {% endif %}
                    </div>
                    </div>
                    <div class="col-md-6 col-lg-7 col-xl-8" style="text-align: left;">
                      <div class="row">
                      {% if movie.gross %}
                        <strong>{{ movie.gross }} &euro;</strong>
                      {% endif %}
                      </div>
                    <div class="row">
                      {% if movie.budget %}
                        <strong>{{ movie.budget }} &euro;</strong>
                      {% endif %}
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="text-center"> Atores Principais </h2>
        <div data-bind="foreach: movie_actors" class="text-center">
          <div class="row">
            {% for actor in actors %}
              <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <img src="{% no_user_photo %}" class="center-block  img-responsive">
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                  Placeholder
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                  <a href="{% url 'app:actor' actor.id %}">{{ actor.name }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}