{% load static %}
{% load app_extras %}
<div class="col-3 align-left text-left">
  {% if previous %}
    <div class="h5">Anterior</div>
    <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
         alt="Movie Photo"
         src=" {% no_user_photo %}">
    <a href="{% url 'app:movie' previous.id %}">{{ previous.name }}</a>
  {% endif %}
</div>
<div class="col align-self-center text-center">
</div>
<div class="col-3 align-right text-right">
  {% if next %}
    <div class="h5">Próximo</div>
    <img class="img-responsive" style="border-radius: 0.8em; margin:0.6em;"
         alt="Movie Photo"
         src=" {% no_user_photo %}">
    <a href="{% url 'app:movie' next.id %}">{{ next.name }}</a>
  {% endif %}
</div>