<tr>
  <td>
    <a href="{% url 'app:movie' id %}">
      {{ title }}
    </a>
  </td>
  <td>{{ year }}</td>
  {% if actorOrder %}
    <td>{{ actorOrder }}</td>
  {% endif %}
  <td><a href="{{ imdb }}">IMDB</a></td>
  <td>{{ score }}</td>
</tr>