  <div id="modalFilmesHighlight" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Filmes: </h4>
        </div>
        <div class="modal-body" data-bind="foreach: ator_aleatorio">
          <div class="row" data-bind="foreach: actor_movies">
            <div class="col-md-10 col-md-offset-1">
              <i class="fa fa-film"></i> <a
                data-bind="text: title_year + '&nbsp;&nbsp;&nbsp;&nbsp;' + imdb_score + '/10&nbsp;&nbsp;&nbsp;&nbsp;' + movie_title, attr: { href: './filme.html?id=' + movieID }"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
