<div>
  <div class="h4" style="display: inline-block;">{{ label }}:&nbsp;</div>
  <div style="display: inline-block;">
    {% for obj in objs %}
      <a href="{{% url 'namespace:view'%}}">&#8226;&nbsp;{{ obj.label }}</a>
    {% endfor %}
  </div>
</div>